<div id="page_wrapper">
  <div class="profile_image">
    <%= image_tag "Profile.png" %>
  </div>

  <div class="content">
    <h1>It's Pubble!</h1>
    <p>Messenger bag glossier etsy 8-bit copper mug disrupt pitchfork trust fund direct trade bicycle rights helvetica four dollar toast brunch shoreditch. Letterpress keytar mlkshk dreamcatcher slow-carb. Chia banjo air plant polaroid. Pop-up enamel pin prism try-hard. Man braid bushwick direct trade, pitchfork tbh whatever meditation cliche hashtag venmo hammock. Skateboard godard vexillologist organic gastropub keytar tote bag snackwave distillery hell of. Chartreuse four dollar toast mixtape selfies flexitarian deep v neutra, shoreditch heirloom farm-to-table.</p>

  </div>
</div>