<div id="welcome_wrapper">
  <div class="welcome">
    <h1>
      Welcome to cucumbrr!
    </h1>
    <p>
      Start posting and contributing to any discussions in the comments!
    </p>
    <hr>
    <div class="user_prompt">
      <div>
        <h2>
          New here ?
        </h2>
        <button class="green_button">
          Sign up!
        </button>
      </div>
      <div>
        <h2>
          Already a user ?
        </h2>
        <button class="green_button">
          <%= link_to "Log in!", login_path %>
        </button>
      </div>
    </div>
  </div>
<h2 class="check_out">
  <span>
  Check out some of our posts
  </span>
</h2>
</div>