@import 'variables';

body {
  font-family: 'Balsamiq Sans', sans-serif;
}

#sidebar {
  height: 100%;
  width: 170px;
  position: fixed;
  left: 0;
  top: 0;
  background: $green;
  display: flex;
  padding: 0 30px 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  .sidebar_title {
    a {
      text-transform: uppercase;
    }
  }

  ul {
    list-style: none;
    li {
      line-height: 30px;
    }
  }
}

.white_link {
  text-decoration: none;
  color: white;
}

#main_content {
  margin-left: 200px;

  #header {
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 25px;
    color: white;

    p {
      font-size: 1.2em;
    }

    .buttons {
      .button {
        background: transparent;
        border: 1px solid white;
        padding: 7px 10px;
        border-radius: 10px;
        margin: 0 5px;
        color: inherit;
      }
    }
  }
}

input[type="text"] { 
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid $blue;
}

textarea {
  width: 90%;
  height: 200px;
  padding: 8px;
  border: 2px solid $green;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 7px 10px;
  background: $green;
  border-radius: 5px;
}