@import 'variables';

#welcome_wrapper {
  margin: 40px;

  .welcome {
    padding: 30px 50px 50px;
    max-width: 500px;
    text-align: center;
    color: $blue;
    border: 3px dashed $blue;
    border-radius: 20px;
    margin: 0 auto;
  
    p {
      color: $hover-blue;
    }

    hr {
      margin: 40px 0 20px;
      height: 1px;
      background-color: $blue;
      border: none;
    }

    .user_prompt {
      display: flex;
      justify-content: space-around;

      div {
        width: 50%;
      }
    }
  }
    
  .check_out {
    margin: 100px 0px -30px;
    text-align: center;
    color: $green;
    line-height: 0.1em;
    border-bottom: 2px solid $green;

    span {
      background: white;
      padding: 0 8px;
    }
  }
}

.post_wrapper {
  border-bottom: 1px solid lightgray;
  padding: 20px 40px;

  .post_title {
    color: $blue;

    a:hover {
      color: $hover-blue;
    }
  }

  .post_snippet {
    color: lightgray;
  }

  .post_body {
    margin: 40px 0;
  }

}

.post_form {
  padding: 40px 10vw;
}

#comments {
  margin-top: 100px;
  max-width: 680px;

  .comment {
    border-bottom: 1px solid lightgray;
    padding: 10px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .comment_content {
      width: 70%;

      .comment_name {
        text-transform: uppercase;
      }
    }
  }
  .comment_prompt {
    margin: 50px 0;
  }

  .delete_comment {
    border: none;
    background: $red;
    padding: 5px 8px;
  }
}