@import 'variables';

.post_wrapper {
  border-bottom: 1px solid lightgray;
  padding: 20px 40px;

  .post_title {
    color: $blue;

    a:hover {
      color: $hover-blue;
    }
  }

  .post_snippet {
    color: lightgray;
  }

  .post_body {
    margin: 40px 0;
  }

}

.post_form {
  padding: 40px 10vw;
}

.errors {
  background: $red;
  padding: 10px 20px;
  margin: 0 0 40px;
}

#comments {
  margin-top: 100px;
  max-width: 680px;

  .comment {
    border-bottom: 1px solid lightgray;
    padding: 10px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .comment_content {
      width: 70%;

      .comment_name {
        text-transform: uppercase;
      }
    }
  }
  .comment_prompt {
    margin: 50px 0;
  }

  .delete_comment {
    border: none;
    background: $red;
    padding: 5px 8px;
  }
}